body.indexView{

    .headshot{
        background: url('/images/headshot.jpg') no-repeat 65% center;
        background-size: cover;
        content: ' ';
        height: 600px;
        width: 100%;
        position: absolute;
    }

    .main-content{
        padding: 2em;

        .index-overview-thoughts, .index-overview-experiments, .index-overview-about{
            margin: 0 0 2em 0;
        }

        .index-overview-bubble{
            @include circle(6rem, #cccccc);
            float: right;
            margin: 0.5em 0;

            i{
                font-size: 2.5em;
                line-height: 2.25em;
                margin: 0 0 0 0.65em;

                &.fi-widget{
                    margin: 0 0 0 0.66em;
                }

                &.fi-torso-business{
                    margin: 0 0 0 0.75em;
                }
            }

        }

        .index-overview-summary{
        }
    }
}

@media only screen and (min-width: 64.063em) {
    body.indexView{
        .index-overview-thoughts, .index-overview-experiments, .index-overview-about {
            margin: 0 0 0 0;
        }
    }
}
