<div class="row ">
    <div class="small-12 columns">
        <h1 class="index-overview-header header-font">Code Snippets (CodePen.io/roymartin)</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            {{#each .}}
                <div class="small-4 columns">
                    {{{content}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
