<div class="index-overview">
    <div class="row">
        <div class="small-12 large-4 columns">
            <div class="index-overview-thoughts">
                <div class="row">
                    <div class="small-4 columns">
                        <div class="index-overview-bubble">
                            <i class="fi-megaphone large"></i>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <h5 class="index-overview-header header-font">Thoughts</h5>

                        <p class="index-overview-summary">Thoughts on technology, development, leadership and
                            entrepreneurship.</p>
                        <a href="" class="index-overview-cta">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 large-4 columns">
            <div class="index-overview-experiments">
                <div class="row">
                    <div class="small-4 columns">
                        <div class="index-overview-bubble">
                            <i class="fi-widget large"></i>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <h5 class="index-overview-header header-font">Experiments</h5>

                        <p class="index-overview-summary">Experiments and code scribbles in web and mobile
                            development.</p>
                        <a href="" class="index-overview-cta">See More</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="small-12 large-4 columns">
            <div class="index-overview-about">
                <div class="row">
                    <div class="small-4 columns">
                        <div class="index-overview-bubble">
                            <i class="fi-torso-business large"></i>
                        </div>
                    </div>
                    <div class="small-8 columns">
                        <h5 class="index-overview-header header-font">About</h5>

                        <p class="index-overview-summary">I am a developer, technical leader, entrepreneur and
                            student of life.</p>
                        <a href="" class="index-overview-cta">Learn More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
