body {
    background: #fafafa;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, a{
    font-family: "futura-pt";
    font-size: 1.125rem;
    color: #5e5e5e;
}

a:hover, a:visited{
    color: #5e5e5e;
    text-decoration: underline;
}

.header-font {
    font-family: "aviano-future";
}

.center-text{
    text-align: center;
}

.main-wrapper{
    width: 100%;
}

.headshot{
    background: url('/images/headshot.jpg') no-repeat 65% center;
    background-size: cover;
    content: ' ';
    height: 600px;
    width: 100%;
    position: absolute;
}

.left-off-canvas-menu{
    padding-top: 50px;

    a{
        text-align: center
    }
}

.tab-bar {
    margin: 1em 0 539px 0;
    background-color: transparent;
    color: #FFF;

    h1{
        text-align: right;
        color: #FFF;
        font-family: "aviano-future";
    }

    .menu-icon{
        color: #FFF;

        span::after{
            box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
            left: 0;
        }
    }

    .left-small{
        border-right: solid 0px transparent;
    }
}

.move-right .exit-off-canvas{
    box-shadow: none;
}

.right-off-canvas-menu{
    height: 1400px;
    background-color: #fafafa;
    padding-top: 1em;

    ul li a {
        color: #5e5e5e;
        font-family: "aviano-future";
        border-bottom: 0 solid transparent;
    }

    i{
        float: left;
        font-size: 1.125rem;
        line-height: 1.7rem;
        padding: 0.66667rem;
    }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.left{
    float: left
}


@media only screen and (min-width: 64.063em) {
    .off-canvas-wrap{
        .inner-wrap{
            padding: 0px 100px;
        }
    }
}
