@import "_mixin";

//home overview
.home-overview{
    padding: 2em;

    .home-overview-thoughts, .home-overview-experiments, .home-overview-about{
        margin: 0 0 2em 0;
    }

    .home-overview-bubble{
        @include circle(6rem, #cccccc);
        float: right;
        margin: 0.5em 0;

        i{
            font-size: 2.5em;
            line-height: 2.25em;
            margin: 0 0 0 0.65em;

            &.fi-widget{
                margin: 0 0 0 0.66em;
            }

            &.fi-torso-business{
                margin: 0 0 0 0.75em;
            }
        }

    }

    .home-overview-summary{
    }
}

@media only screen and (min-width: 64.063em) {
    .home-overview{
        .home-overview-thoughts, .home-overview-experiments, .home-overview-about {
            margin: 0 0 0 0;
        }
    }
}
