body, html{
    height: 100%;
    width: 100%;
}

body {
    background: #fafafa;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td{
    font-family: "futura-pt";
    font-size: 1.125rem;
    color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color: $primary-color;
    font-family: "aviano-future";

}
a:hover,
a:visited {
    color: $primary-color;
    text-decoration: underline;

}

.center-text {
    text-align: center;

}
.main-wrapper, .main-content {
    width: 100%;
    height: 100%;

}
.left-off-canvas-menu {
    padding-top: 50px;

    a {
        text-align: center;
    }
}




.hero-unit {
    margin: 50px auto 0;
    width: 300px;

}
.left {
    float: left;
}
.header-title-container {
    @include vertical-align;
    z-index: 2;

    // h2 {
    //     font-size: 3rem;
    //     color: #fafafa;
    //     font-family: "aviano-future";
    //
    // }
    // h4 {
    //     color: #fafafa;
    // }

}


#header-attribution {
    transform: translate3d(0, 35rem, 0);
    position: absolute;
    right: 130px;
    color: #fafafa;
    z-index: 2;
    a {
        color: #fafafa;
    }

}
.inner-wrap {
    z-index: 1;

}
.content-circle-container {
    margin: 0 0 2em;

}

@media only screen and (min-width: 64.063em) {
    // .off-canvas-wrap {
    //     .inner-wrap {
    //         padding: 0 100px;
    //     }
    // }
}
