body.experimentView {

    #header-title, #header-title a, #header-sub-title, #header-sub-title a{
        color: #fff;
    }

    .background-image {
        background: url("/assets/images/experiments.jpg") no-repeat 65% center;
        background-size: cover;
        content: ' ';
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #github{
        ul{
            li{
                min-height: 13em;
                margin: 0 0 1em 0;

                .github-wrapper{
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    padding: 1em;
                    min-height: 13em;
                }

                .github-title{
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}
