body.indexView {

    background: #000;
    a, h1, h2, h3, h4 ,h5 {
      color: #5e5e5e;
    }

    .index-header-container{
        @include vertical-align;
    }

    //move off screen until the start of the animation
    #header-title, #header-sub-title{
        // transform: translateX(-40em);
    }

    #header-sub-title, #header-sub-title a{
        font-family: "aviano-future";
        font-size: 3.5rem;
        font-weight: 700;
        font-style: italic;
    }

    .background-image canvas{
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-subheader, .main-subheader{

    }

    .header-title-container{
        a:hover{
            text-decoration: none;
        }
        .thoughts:hover, .thoughts.active{
            color: #3b5998;
        }

        .experiments:hover, .experiments.active{
            color: #ab1b1c;
        }

        .roy-martin:hover, .roy-martin.active{
            color: #008000;
        }
    }

    .background-image canvas.active{
        cursor: crosshair
    }

}
@media only screen and (min-width: 40.063em) {

}
