body.indexView {

    .index-header-container{
        @include vertical-align;
    }

    .background-image canvas{
        position: absolute;
        left: 0;
        top: 0;
    }



    .main-subheader, .main-subheader{

    }

}
@media only screen and (min-width: 40.063em) {

}
