body.thoughtView {

    .background-image {
        background: url("/assets/images/thoughts.jpg") no-repeat 65% center;
        background-size: cover;
        content: ' ';
        height: 600px;
        width: 100%;
        position: absolute;

    }
    #twitter-widget-0 {
        width: 100% !important;
    }
}
