body.thoughtView {

    .background-image {
        background: url("/images/thoughts.jpg") no-repeat 65% center;
        background-size: cover;
        content: ' ';
        height: 600px;
        width: 100%;
        position: absolute;
    }

}
