<div class="row">
    <div class="small-12 large-12 columns">
        <div class="content-circle-container sub-header">
            <div class="row collapse">
                <div class="small-1 columns">
                    <div class="content-circle left">
                        <i class="fi-megaphone large"></i>
                    </div>
                </div>
                <div class="small-11 columns">
                    <div class="content-circle-text">
                        <h5 class="index-overview-header header-font">Twitter</h5>
                        <p class="index-overview-summary">
                            Tweets from <a href="http://twitter.com/roy_martin/" target="_blank">@roy_martin</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="twitter-posts" class="small-12 columns">
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        <div class="content-circle-container sub-header">
            <div class="row collapse">
                <div class="small-1 columns">
                    <div class="content-circle left">
                        <i class="fi-megaphone large"></i>
                    </div>
                </div>
                <div class="small-11 columns left">
                    <div class="content-circle-text">
                        <h5 class="index-overview-header header-font">Blog Posts</h5>
                        <p class="index-overview-summary">
                            Thoughts from <a href="http://medium.com/@roy_martin/" target="_blank">medium.com/@roy_martin</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="medium-posts" class="small-12 columns">
    </div>
</div>
