@font-face {
    font-family: 'HarmoniaSansPro-Black';
    src: url('/assets/fonts/372CC9_0_0.eot');
    src: url('/assets/fonts/372CC9_0_0.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/372CC9_0_0.woff2') format('woff2'), url('/assets/fonts/372CC9_0_0.woff') format('woff'), url('/assets/fonts/372CC9_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Copernicus';
    font-weight: normal;
    font-style: normal;
    src: url("/assets/fonts/Copernicus-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Copernicus-Book.woff") format("woff"), url("/assets/fonts/Copernicus-Book.woff2") format("woff2")
}