<div class="row">
    <div class="small-12 large-12 columns">
        <div class="content-circle-container sub-header">
            <div class="row collapse">
                <div class="small-1 columns">
                    <div class="content-circle left">
                        <i class="fi-torso-business large"></i>
                    </div>
                </div>
                <div class="small-11 columns left">
                    <div class="content-circle-text">
                        <h5 class="index-overview-header header-font">Running</h5>
                        <p class="index-overview-summary">
                            I'm a runner and triathlete. Here is summary from Strava <a href="https://www.strava.com/athletes/6585165" target="_blank">strava.com/athletes/6585165</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="strava" class="small-12 columns">
    </div>
</div>
